%h1 Расписание
%table.bordered-table
  %thead
    %tr
      %th Время
      %th Понедельник
      %th Вторник
      %th Среда
      %th Четверг
      %th Пятница
      %th Суббота 
  %tbody
    %tr
      %th 08:55-10:30
      %td= link_to 'Создать', flows_group_path(@group_edit)
      %td 
      %td 
      %td 
      %td 
      %td 
    %tr
      %th 10:40-12:15
      %td 
      %td 
      %td 
      %td 
      %td
      %td 
    %tr
      %th 12:25-14:30
      %td 
      %td 
      %td 
      %td 
      %td
      %td 
    %tr
      %th 14:40-16:15
      %td 
      %td 
      %td 
      %td 
      %td
      %td  
    %tr
      %th 16:25-18:00
      %td 
      %td 
      %td 
      %td 
      %td
      %td
    %tr
      %th 18:10-19:45
      %td 
      %td 
      %td 
      %td 
      %td
      %td
    %tr
      %th 19:55-21:30
      %td 
      %td 
      %td 
      %td 
      %td
      %td
       
            
= link_to 'Назад', groups_path
